.add-cart{
    text-decoration: none!important;
        width: 100%;
        border: none;
        color: #fff;
      }
    .buy-now{
    text-decoration: none!important;
    
    color: #fff;
    }
    
    .addtocart{
        padding: 18px 8px;
        border-radius: 2px;
    width: 100%;
    border: none;
        text-align: center;
        background: #ff9f00;
    }
    .buynow{
        padding: 18px 8px;
        border-radius: 2px;
        width: 100%;
        border: none;
        text-align: center;
        background: #fb641b;
    }
.highcost{
    border-left:rgb(244, 101, 65) 17px solid; 
    border-top: rgb(244, 101, 65) 17px solid; 
    margin:20px 10%;   
}
.lowcost{
    border-left: rgb(69, 244, 66) 17px solid; 
    border-top:rgb(69, 244, 66) 17px solid; 
    margin:20px 10%;   
}
.mediumcost{
    border-left:rgb(244, 65, 109) 17px solid; 
    border-top:rgb(244, 65, 109) 17px solid; 
    margin:20px 10%;   

}
#electronics{

 border: #2874f0 10px solid; 
}    

#electronics .mobile-items{
    margin: 20px;
}

#electronics .mobile-name{
    padding: 20px 0px;
    line-height: 1.4;
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin-right: 5px;
}
#electronics .discount-value{
    font-weight: 500;
    text-align: left;
    color: #388e3c;
    line-height: 1.2px;
    padding: 15px 0px;
}
#electroincs .after-discount{
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    color: #212121;
}
#electroincs .before-discount {
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    text-decoration: line-through;
    color: #212121;
}
#electroincs .discount{
    font-size: 28px;
    font-weight: 500;
    color:blue;
    padding: 20px 0px;
}

#electronics .mobile-desc{
    padding: 25px 0px;
}
#electronics .mobile-desc h3{
    font-weight:600;
}
#electronics h1,h2,h4,h3{
    display: inline;
}
.mobile-images{
    height: 400px;
}
.align-image{
    align-content: center;
    padding-left: 25%;
}

#markprice{
    text-decoration: line-through;
}
#sellprice{
    color: #2874f0;
}
