<div class="container"  *ngIf="isCartEmpty==true;"><h1>Your Cart is still empty</h1></div>
<div class="container ">
    <div class="row costsection" >
     <div class=" col col-lg-4"> <div class="highcost"></div> <div>HIGHCOST</div>  </div>
     <div class=" col col-lg-4"> <div class="mediumcost"></div>MEDIUM COST  </div>
     <div class=" col col-lg-4"> <div class="lowcost"></div> LOW COST </div>
    </div>
    </div>
<div *ngFor="let item of itemList">
    <cart-item-comp (addedToCart)="toggleAddToCart($event)"   [itemDetails]="item"></cart-item-comp>
</div>