<div id="amazon-header">

            <div class="row">
                <div class="col col-lg-3 col-md-3 col-sm-3">
                    <img class="header-logo" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c518.png" alt="">
                </div>
                <div class="col  col-lg-6 col-sm-6 col-md-6">
                    <select class="nav-search-dropdown searchSelect"  data-nav-selected="0" id="searchDropdownBox" name="url" tabIndex="18" title="Search in">
                        <option defaultValue="search-alias=aps">All Departments</option>
                        <option value="search-alias=alexa-skills">Alexa Skills</option>
                        <option value="search-alias=amazon-devices">Amazon Devices</option>
                        <option value="search-alias=instant-video">Amazon Video</option>
                        <option value="search-alias=warehouse-deals">Amazon Warehouse Deals</option>
                        <option value="search-alias=appliances">Appliances</option>
                        <option value="search-alias=mobile-apps">Apps &amp; Games</option>
                        <option value="search-alias=arts-crafts">Arts, Crafts &amp; Sewing</option>
                        <option value="search-alias=automotive">Automotive Parts &amp; Accessories</option>
                        <option value="search-alias=baby-products">Baby</option>
                        <option value="search-alias=beauty">Beauty &amp; Personal Care</option>
                        <option value="search-alias=stripbooks">Books</option>
                        <option value="search-alias=popular">CDs &amp; Vinyl</option>
                        <option value="search-alias=mobile">Cell Phones &amp; Accessories</option>
                        <option value="search-alias=fashion">Clothing, Shoes &amp; Jewelry</option>
                        <option value="search-alias=fashion-womens">&nbsp;&nbsp;&nbsp;Women</option>
                        <option value="search-alias=fashion-mens">&nbsp;&nbsp;&nbsp;Men</option>
                        <option value="search-alias=fashion-girls">&nbsp;&nbsp;&nbsp;Girls</option>
                        <option value="search-alias=fashion-boys">&nbsp;&nbsp;&nbsp;Boys</option>
                        <option value="search-alias=fashion-baby">&nbsp;&nbsp;&nbsp;Baby</option>
                        <option value="search-alias=collectibles">Collectibles &amp; Fine Art</option>
                        <option value="search-alias=computers">Computers</option>
                        <option value="search-alias=courses">Courses</option>
                        <option value="search-alias=financial">Credit and Payment Cards</option>
                        <option value="search-alias=digital-music">Digital Music</option>
                        <option value="search-alias=electronics">Electronics</option>
                        <option value="search-alias=gift-cards">Gift Cards</option>
                        <option value="search-alias=grocery">Grocery &amp; Gourmet Food</option>
                        <option value="search-alias=handmade">Handmade</option>
                        <option value="search-alias=hpc">Health, Household &amp; Baby Care</option>
                        <option value="search-alias=local-services">Home &amp; Business Services</option>
                        <option value="search-alias=garden">Home &amp; Kitchen</option>
                        <option value="search-alias=industrial">Industrial &amp; Scientific</option>
                        <option value="search-alias=digital-text">Kindle Store</option>
                        <option value="search-alias=fashion-luggage">Luggage &amp; Travel Gear</option>
                        <option value="search-alias=luxury-beauty">Luxury Beauty</option>
                        <option value="search-alias=magazines">Magazine Subscriptions</option>
                        <option value="search-alias=movies-tv">Movies &amp; TV</option>
                        <option value="search-alias=mi">Musical Instruments</option>
                        <option value="search-alias=office-products">Office Products</option>
                        <option value="search-alias=lawngarden">Patio, Lawn &amp; Garden</option>
                        <option value="search-alias=pets">Pet Supplies</option>
                        <option value="search-alias=prime-exclusive">Prime Exclusive</option>
                        <option value="search-alias=pantry">Prime Pantry</option>
                        <option value="search-alias=software">Software</option>
                        <option value="search-alias=sporting">Sports &amp; Outdoors</option>
                        <option value="search-alias=tools">Tools &amp; Home Improvement</option>
                        <option value="search-alias=toys-and-games">Toys &amp; Games</option>
                        <option value="search-alias=vehicles">Vehicles</option>
                        <option value="search-alias=videogames">Video Games</option>
                        <option value="search-alias=wine">Wine</option>
                </select>
                <input id="search-bar" type="text"/>
                <button id="search-btn" ><span class="search-icon"><i class="fa fa-search"></i></span></button>
            </div>
            <div class="col col-lg-3">

            </div>
        </div>
        <div class="row down-bar">
            <div class="col col-lg-2 left-bar ">
                <div class="side-bar">Deliver to</div>
                <div class="side-bar"><b>110052</b></div>
            </div>
        <div class="col col-lg-7">

        
            <div class="row menu-bar"> 
                <div class="col-lg-2" ><a  routerLink="home">Home</a></div>
                <div class="col-lg-2" ><a  routerLink="electronics">Electronics</a></div>   
                 <div class="col-lg-2" ><a routerLink="TVs" href="">TVs Appliances</a></div>
                 <div class="col-lg-2" ><a href="">Men</a></div>   
                  <div class="col-lg-2" ><a href="">Women</a></div>
                  <div class="col-lg-2" ><a href="">Kid</a></div>
           </div>
        </div>
        <div class="col col-lg-3">
                <div class="row side-bar right-bar"> 
                        <div class="col-lg-3" ><a href="">Your Orders</a></div>
                         <div class="col-lg-3" ><a href="">Prime</a></div>   
                          <div class="col-lg-3" ><a href="">List</a></div>
                          <div class="col-lg-3" ><a routerLink="Cart"><i class="fas fa-shopping-cart fa-2x"></i> Cart <span> {{cart.cartArray.length}}</span> </a></div>
                   </div>
        </div>

        </div> 
        </div>